.container{
    /* background-color: cyan; */
    padding: 10px;
    width: 1000px;
    margin: 50px auto 0 auto;
    height: 80vh;
}
.wrapper{
    /* background-color: purple; */
    margin-top: 50px;
}
.heading{
    font-size: 25px;
    margin: 0 0 20px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.password{
    display: flex;
}
.eye_icon{
    position: absolute;
    margin: 8px 0 0 310px;
    font-size: 25px;
    cursor: pointer;
}
.input_container{
    /* background-color: red; */
    box-shadow: 0px 0px 10px 5px  rgb(168, 165, 165, 0.4);
    width: 35%;
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 100px 50px 100px 50px ;
    margin: 0 auto 0;
}
input[type='text'],[type='password'],[type='email']{
    width: 100%;
    height: 30px;
    padding: 20px;
    /* line-height: 20px; */
    font-size: 18px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid rgb(114, 114, 114);
    box-sizing: border-box;
    margin: 0 0 30px 0;
    outline: none;
    border-radius: 5px;
}
.login_button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    display: block;
    position: relative;  
    background: linear-gradient(to left, rgba(0,0,0,0), rgb(255, 166, 1));
	background-color: rgb(217, 6, 94);
    transition: 0.5s;
}
.login_button:hover{
    background-color: rgb(185, 196, 65);
}
.warning{
    color: red;
    /* background-color: red; */
    height: 20px;
    font-size: 14px;
    margin-top: 25px; 
    font-weight: bold;
    text-align: center; 
    letter-spacing: 2px;
}